<main class="content about-page">
  <mat-card [ngClass]="{'highlight-class': true}">
    <mat-card-header>
      <mat-card-title>About AccommodationBook</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p [ngStyle]="{'font-weight': 'bold'}">Welcome to AccommodationBook, your ultimate solution for finding and booking the best accommodations for your travels. Our mission is to make booking accommodations as easy and as transparent as possible.</p>
      <p [ngStyle]="{'color': 'black'}">Since our inception in 2024, we've been dedicated to providing a wide range of accommodation options, from luxurious hotels to cozy bed and breakfasts, all at competitive prices. Our user-friendly platform allows you to filter your search based on your preferences and needs, ensuring you find the perfect stay every time.</p>
      <p [ngStyle]="{'font-style': 'italic'}">At AccommodationBook, we value our customers' satisfaction above all. We strive to offer exceptional customer service, a seamless booking process, and a memorable travel experience. Thank you for choosing us as your travel partner.</p>
      <div>
        <p>Today's Date: {{ today | customDate }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</main>
